@model IEnumerable<jsaosorio.Models.SelectedRow>

@{

  <div class="modal-body" id="NewData">



    @*<table id="example2" class="table table-bordered table-hover dataTable dtr-inline display" style="width:100%" role="grid" aria-describedby="example2_info">*@
    <table class="table table-striped" id="example1">
      <thead>
        <tr>

          <th>
            @Html.DisplayNameFor(model => model.Domain)
          </th>
          <th>
            Other2
          </th>

          <th>
            @*@Html.DisplayNameFor(model => model.Email)*@
            Email
          </th>
          <th>

          </th>

        </tr>
      </thead>
      <tbody>
        @if (Model != null)
        {

          foreach (var item in Model)
          {
            <tr>

              <td>
                @Html.DisplayFor(modelItem => item.Domain)
              </td>

              <td>
              </td>

              <td>
                @{
                  if (item.Emails != null)
                  {
                    @Html.DropDownListFor(modelItem => item.Emails, new SelectList(item.Emails, item.DefaultEmail), null, new { @class = "form-control" })
                  }
                  else
                  {
                    @*@Html.Editor("DefaultEmail", new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.EditorFor(modelItem => item.DefaultEmail, new { htmlAttributes = new { @class = "form-control" } })
                   } }

              </td>
              <td>
                <input class="btn btn-warning btnSetDefault" type="button" value="Set Default" />
              </td>

            </tr>
          }
        }
      </tbody>

    </table>




  </div>


}


<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css" rel="stylesheet" />

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>


<script type="text/javascript">

  $(document).ready(function () {

    $(".btnSetDefault").click(function () {
      var domain = $(this).parent().parent().find('td:eq(0)').text().trim();
      var email = $(this).parent().parent().find('select').val();
      if (email == null) email = $(this).parent().parent().find('input').val();
      var data = {
        'domain': domain,
        'email': email
      }
      $.ajax({
        url: '/BaseDaily/SetDefault',
        type: "POST",
        data: data
      })
        .done(function (data) {

          alert('Action Has Been Done Successfully.')

        })
        .fail(function (res) {
          console.log('Something Went Wrong.')
        })
    });

    $('#example').DataTable({
      columnDefs: [{
        orderable: false,
        className: 'select-checkbox',
        targets: 0
      }],
      select: {
        style: 'os',
        selector: 'td:first-child'
      },
      order: [[1, 'asc']]
    });



    //$('a.toggle-vis').on('click', function (e) {
    //  e.preventDefault();

    //  // Get the column API object
    //  var column = table.column($(this).attr('data-column'));

    //  // Toggle the visibility
    //  column.visible(!column.visible());
    //});

  });


</script>
